.my-container{
  max-width: 500px !important;
}

.input-field input:focus + label {
  color: #1e88e5;
}

.input-field input:focus {
  border-bottom: 1.5px solid #1e88e5 !important;
  box-shadow:none;
}

.input-field .prefix.active {
  color: #1e88e5;
}

.spinner{
  
}